In [1]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.39-cp311-cp311-win_amd64.whl (69 kB)
     ---------------------------------------- 0.0/69.7 kB ? eta -:--:--
     ---------------- --------------------- 30.7/69.7 kB 435.7 kB/s eta 0:00:01
     ---------------- --------------------- 30.7/69.7 kB 435.7 kB/s eta 0:00:01
     ---------------------- --------------- 41.0/69.7 kB 217.9 kB/s eta 0:00:01
     -------------------------------------- 69.7/69.7 kB 345.4 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.39
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pyodbc
import pandas as pd

In [55]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [26]:
pyodbc.dataSources()

{'Excel Files': 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'MS Access Database': 'Microsoft Access Driver (*.mdb, *.accdb)'}

In [11]:
def get_accessbase_conn():
    return pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:/Users/Collins/Desktop/PUB150/WPI.mdb')
conn = get_accessbase_conn()
cursor = conn.cursor()
# Get the list of table names
table_names = [table.table_name for table in cursor.tables(tableType="TABLE")]
# Print the table names
for name in table_names:
    print(name)

~TMPCLP62091
Country Codes
Country Codes Old
Depth Code LUT
Drydock/Marine Railway Code LUT
Harbor Size LUT
Harbor Type LUT
Maximum Size Vessel LUT
Repairs Code LUT
Shelter Afforded LUT
Wpi Data
WPI Import
WPI Region

In [15]:
def query_accessdb_table(query, conn):
    table_result = pd.read_sql(query, conn)
    return table_result
query = """
SELECT * FROM "Wpi Data"

"""
table_result = query_accessdb_table(query, conn)

C:\Users\Collins\AppData\Local\Temp\ipykernel_15000\2717273545.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  table_result = pd.read_sql(query, conn)

In [13]:
table_result

,World_port_index_number,Region_index,Main_port_name,Wpi_country_code,Latitude_degrees,Latitude_minutes,Latitude_hemisphere,Longitude_degrees,Longitude_minutes,Longitude_hemisphere,...,Services_elect_repair,Supplies_provisions,Supplies_water,Supplies_fuel_oil,Supplies_diesel_oil,Supplies_deck,Supplies_engine,Repair_code,Drydock,Railway
0,70,60,KEFLAVIK,IS,64,0,N,22,33,W,...,None,Y,Y,Y,Y,Y,Y,C,None,S
1,75,60,STRAUMSVIK,IS,64,3,N,22,3,W,...,None,None,None,None,None,None,None,None,None,None
2,80,60,HAFNARFJORDUR,IS,64,4,N,21,57,W,...,Y,Y,Y,Y,Y,Y,Y,B,None,M
3,90,60,SKERJAFJORDUR,IS,64,9,N,22,1,W,...,None,Y,Y,Y,Y,Y,Y,C,None,None
4,100,60,REYKJAVIK,IS,64,9,N,21,56,W,...,Y,Y,Y,Y,Y,Y,Y,B,L,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,8270,6585,FREDERICKSBURG,US,38,18,N,77,27,W,...,None,None,None,None,None,None,None,None,None,None
3626,8280,6585,NORFOLK,US,36,51,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,M,L
3627,8290,6585,PORTSMOUTH,US,36,49,N,76,18,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3628,8300,6585,NEWPORT NEWS,US,36,58,N,76,26,W,...,Y,Y,Y,Y,Y,Y,Y,A,L,L
3629,8318,6585,WARWICK,US,37,27,N,77,25,W,...,None,Y,Y,Y,Y,None,None,None,None,None

In [132]:
#l0ading to the postgres database

from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:01ajstyles@localhost:5432/World_Port_Index_Data_Migration')
engine.connect()
table_result.to_sql('World_Port_Index',con=engine,if_exists='replace')

238

In [20]:
#Question 1
#Establish the five nearest ports to Singapore's JURONG ISLAND port (country =
#'SG', port_name = 'JURONG ISLAND'). The output should encompass 'port_name'
#and 'distance_in_meters' exclusively.


# This connection will be used to run queries on the PostgreSQL database
import psycopg2
import pandas as pd

def nearest_ports_to_jurong_island():

    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        dbname="World_Port_Index_Data_Migration",
        user="postgres",
        password="01ajstyles",
        host="localhost",
        port="5432"
    )

    # Run SQL query to find the 5 nearest ports to JURONG ISLAND
    sql_query = """
    SELECT
        "Main_port_name",
        (
            6371000 *
            acos(
                cos(radians(1)) * cos(radians("Latitude_degrees")) * cos(radians("Longitude_degrees") - radians(103.98765)) +
                sin(radians(1)) * sin(radians("Latitude_degrees"))
            )
        ) AS distance_in_meters
    FROM
        "World_Port_Index"
    WHERE
        "Wpi_country_code" = 'SG'
        AND "Main_port_name" != 'JURONG ISLAND'
    ORDER BY
        distance_in_meters
    LIMIT 5;
    """

    # Execute the query and fetch the result into a DataFrame
    result = pd.read_sql_query(sql_query, conn)

     # Closing the connection to the PostgreSQL database
    conn.close()

    return result


# Calling the function with a variable name to print the query result
nearest_ports = nearest_ports_to_jurong_island()
print(nearest_ports)

              Main_port_name  distance_in_meters
0           SERANGOON HARBOR       109804.942514
1  KEPPEL - (EAST SINGAPORE)       109804.942514
2                PULAU BUKOM       109804.942514
3              PULAU SEBAROK       109804.942514

C:\Users\Collins\AppData\Local\Temp\ipykernel_15000\831179355.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(sql_query, conn)

In [5]:
#Question 2

#Determine the country with the highest count of ports boasting a cargo_wharf.
#The outcome should encapsulate 'country' and 'port_count' solely.

# This connection will be used to run queries on the PostgreSQL database
import psycopg2
import pandas as pd
def largest_cargo_wharf_ports():
    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        dbname="World_Port_Index_Data_Migration",
        user="postgres",
        password="01ajstyles",
        host="localhost",
        port="5432"
    )
# Run SQL query to find which country has the largest number of ports with a cargo_wharf.
    sql_query = """
    SELECT
        "Wpi_country_code" as country,
        count("Main_port_name") as port_count
    FROM
        "World_Port_Index" 
    GROUP BY
        "Wpi_country_code"
    ORDER BY
        port_count DESC
    LIMIT 1
    """
    # Execute the query and fetch the result into a DataFrame
    result_2 = pd.read_sql_query(sql_query, conn)
     # Closing the connection to the PostgreSQL database
    conn.close()
    return result_2

# Calling the function with a variable name to print the query result
largest_cargo_country = largest_cargo_wharf_ports()
print(largest_cargo_country)

  country  port_count
0      US         666

C:\Users\Collins\AppData\Local\Temp\ipykernel_15000\3508812617.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_2 = pd.read_sql_query(sql_query, conn)

In [19]:
#Question 3

#Respond to a distress call situated at lat: 32.610982, long: -38.706256 within the
#middle of the North Atlantic Ocean. The caller requires the nearest port offering
#provisions, water, fuel oil, and diesel. Your solution should encompass 'country',
#'port_name', 'port_latitude', and 'port_longitude'.

# This connection will be used to run queries on the PostgreSQL database
import psycopg2
import pandas as pd

def nearest_provision_ports(latitude, longitude):

    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        dbname="World_Port_Index_Data_Migration",
        user="postgres",
        password="01ajstyles",
        host="localhost",
        port="5432"
    )

    # Run SQL query to find the nearest port with provisions, water, fuel_oil, and diesel.
    sql_query = f"""
    SELECT
        "Wpi_country_code" AS country,
        "Main_port_name" AS port_name,
        "Latitude_degrees" AS port_latitude,
        "Longitude_degrees" AS port_longitude,
        (
            6371000 *
            acos(
                cos(radians({latitude})) * cos(radians("Latitude_degrees")) * cos(radians("Longitude_degrees") - radians({longitude})) +
                sin(radians({latitude})) * sin(radians("Latitude_degrees"))
            )
        ) AS distance_in_meters
    FROM
        "World_Port_Index"
    WHERE
        "Supplies_provisions" = 'Y' AND "Supplies_water" = 'Y'
        AND "Supplies_fuel_oil" = 'Y' AND "Supplies_diesel_oil" = 'Y'
    ORDER BY
        distance_in_meters
    LIMIT 1;
    """

    # Execute the query and fetch the result into a DataFrame
    result_3 = pd.read_sql_query(sql_query, conn)

     # Closing the connection to the PostgreSQL database
    conn.close()

    return result_3


# Calling the function with a variable name to print the query result
latitude = 32.610982
longitude = -38.706256
provision_ports = nearest_provision_ports(latitude, longitude)
print(provision_ports)

  country         port_name  port_latitude  port_longitude  distance_in_meters
0      ES  PUERTO DE GANDIA             39               0        3.534603e+06

C:\Users\Collins\AppData\Local\Temp\ipykernel_15000\4020589033.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_3 = pd.read_sql_query(sql_query, conn)